@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');
:root {
  font-size: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  background: url('./assets/beige-watercolor-background-brown-blue-cloud-green-leaves-free-vector.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#user-interface {
  width: 60rem;
  max-width: 85%;
  height: 35rem;
  max-height: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
}
#user-interface #welcome-page-element {
  width: 50%;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-inline: 3rem;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
}
#user-interface #welcome-page-element #welcome-title {
  font-size: 2.5rem;
  font-family: 'Carter One', cursive;
}
#user-interface #welcome-page-element #welcome-page-paragraph {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
#user-interface #welcome-page-element #welcome-page-paragraph span {
  font-weight: 700;
}
#user-interface #welcome-page-element #name-input {
  border: none;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.75rem;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 0.1rem;
  background-color: rgba(183, 131, 58, 0.5);
}
#user-interface #welcome-page-element #name-input:focus {
  outline: none;
}
#user-interface #welcome-page-element #start-quiz-button {
  width: 100%;
  padding: 0.75rem;
  font-family: 'Carter One', cursive;
  font-size: 1.4rem;
  background-color: rgb(183, 131, 58);
  color: #fff;
  border: none;
}
#user-interface #welcome-page-element #start-quiz-button:hover {
  color: rgb(183, 131, 58);
  background-color: #fff;
  border: 1px solid rgb(183, 131, 58);
  cursor: pointer;
}
#user-interface #welcome-page-cover {
  background-image: url(./assets/welcome-cover.jpg);
  width: 50%;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#user-interface #question-element {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
#user-interface #question-element .question-data {
  width: 50%;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-inline: 2rem;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
}
#user-interface #question-element .question-data .question-header {
  font-size: 2rem;
  font-family: 'Carter One', cursive;
}
#user-interface #question-element .question-data .answers-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}
#user-interface
  #question-element
  .question-data
  .answers-container
  .answer-container
  .answer-btn {
  width: 15rem;
  padding: 0.5rem 1rem;
  border: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
}
#user-interface
  #question-element
  .question-data
  .answers-container
  .answer-container
  .answer-btn:hover {
  cursor: pointer;
  border: 1px solid green;
}
#user-interface #question-element .question-data .timer-container {
  font-family: 'Carter One', cursive;
  font-size: 2rem;
}
#user-interface #question-element .question-data .navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
#user-interface
  #question-element
  .question-data
  .navigation
  #next-question-button {
  width: 8rem;
  padding: 0.5rem;
  font-family: 'Carter One', cursive;
  font-size: 1rem;
  background-color: rgb(183, 131, 58);
  color: #fff;
  border: none;
}
#user-interface
  #question-element
  .question-data
  .navigation
  #next-question-button:hover {
  color: rgb(183, 131, 58);
  background-color: #fff;
  border: 1px solid rgb(183, 131, 58);
  cursor: pointer;
}
#user-interface #question-element .question-data .navigation #skip-button {
  width: 8rem;
  padding: 0.5rem;
  font-family: 'Carter One', cursive;
  font-size: 1rem;
  background-color: rgb(183, 131, 58);
  color: #fff;
  border: none;
}
#user-interface
  #question-element
  .question-data
  .navigation
  #skip-button:hover {
  color: rgb(183, 131, 58);
  background-color: #fff;
  border: 1px solid rgb(183, 131, 58);
  cursor: pointer;
}
#user-interface #question-element .question-data .user-score {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: 'Titillium Web', sans-serif;
}
#user-interface #question-element .question-data .user-score span {
  font-size: 2rem;
  font-weight: 900;
}
#user-interface #question-element .question-image {
  max-width: 50%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
}
#user-interface #question-element .alert-container #alert,
#user-interface #question-element .alert-container #alert-skip {
  text-transform: capitalize;
  color: rgba(225, 119, 13, 0.9);
  font-size: 1.1rem;
  animation: flash;
  animation-duration: 2s;
}
#user-interface #scores-page {
  text-align: center;
  align-self: center;
  font-family: 'Carter One', cursive;
  font-size: 1.2rem;
  padding: 1rem;
}
#user-interface #scores-page #greet {
  animation: zoomInDown;
  animation-duration: 2s;
}
#user-interface #scores-page #finale-score {
  text-transform: capitalize;
  font-family: 'Titillium Web', sans-serif;
  animation: zoomIn;
  animation-duration: 2s;
}
#user-interface #score-table {
  margin: 0 auto;
  align-self: center;
  animation: zoomIn;
  animation-duration: 2s;
}
#user-interface #score-table h2 {
  text-transform: capitalize;
  font-family: 'Carter One', cursive;
  font-size: 1.5rem;
  text-align: center;
}
#user-interface #score-table #results {
  width: 17rem;
  text-align: center;
}
#user-interface #score-table #results tbody {
  display: none;
}
#user-interface #score-table #results tr td {
  border: 1px solid rgba(225, 119, 13, 0.9);
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
}

@media only screen and (max-width: 815px) {
  #user-interface {
    width: 60rem;
    max-width: 85%;
    height: 40rem;
    max-height: 95%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  #user-interface #welcome-page-element {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
  }
  #user-interface #welcome-page-cover {
    height: 45%;
    width: 100%;
  }
  #user-interface #question-element {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    position: relative;
  }
  #user-interface #question-element .question-data {
    width: unset;
    min-width: unset;
    padding-inline: unset;
  }
  #user-interface #question-element .question-data .answers-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #user-interface #question-element .question-data .navigation {
    width: 95%;
    padding: 1rem;
  }
  #user-interface #question-element .question-image {
    width: unset;
    max-width: unset;
    max-height: 45%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}
@media only screen and (max-width: 650px) {
  #user-interface {
    width: 60rem;
    max-width: 85%;
    height: 40rem;
    max-height: 95%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  #user-interface #welcome-page-element {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
  }
  #user-interface #welcome-page-element #welcome-title {
    font-size: calc(4vw + 0.5rem);
  }
  #user-interface #welcome-page-cover {
    height: 45%;
    width: 100%;
  }
  #user-interface #question-element .question-data .question-header {
    padding-block: 1rem;
  }
  #user-interface
    #question-element
    .question-data
    .answers-container
    .answer-container
    .answer-btn {
    width: 10rem;
    font-size: 0.9rem;
  }
  #user-interface
    #question-element
    .question-data
    .navigation
    #next-question-button {
    width: 8rem;
  }
  #user-interface #question-element .question-data .navigation #skip-button {
    width: 8rem;
  }
}
@media only screen and (max-width: 420px) {
  #user-interface #question-element .question-data {
    justify-content: flex-start;
  }
  #user-interface #question-element .question-data .question-header {
    padding-block: 1rem;
  }
  #user-interface #question-element .question-data .answers-container {
    justify-content: center;
  }
  #user-interface
    #question-element
    .question-data
    .answers-container
    .answer-container
    .answer-btn {
    width: 8rem;
    font-size: 0.7rem;
  }
  #user-interface
    #question-element
    .question-data
    .navigation
    #next-question-button {
    width: 7.5rem;
    font-size: 0.9rem;
  }
  #user-interface #question-element .question-data .navigation #skip-button {
    width: 7.5rem;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 360px) {
  #user-interface {
    width: 60rem;
    max-width: 98%;
    height: 40rem;
    max-height: 98%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  #user-interface #welcome-page-element {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
  }
  #user-interface #welcome-page-element #welcome-title {
    font-size: calc(4vw + 0.5rem);
  }
  #user-interface #welcome-page-element #name-input {
    width: unset;
  }
  #user-interface #welcome-page-element #start-quiz-button {
    width: unset;
  }
  #user-interface #welcome-page-cover {
    height: 45%;
    width: 100%;
  }
} /*# sourceMappingURL=style.css.map */
