@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');

:root {
  font-size: 17px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  background: url('./assets/beige-watercolor-background-brown-blue-cloud-green-leaves-free-vector.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#user-interface {
  width: 60rem;
  max-width: 85%;
  height: 35rem;
  max-height: 80%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;

  // Welcome Screen
  #welcome-page-element {
    width: 50%;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-inline: 3rem;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;

    #welcome-title {
      font-size: 2.5rem;
      font-family: 'Carter One', cursive;
    }

    #welcome-page-paragraph {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 300;
      span {
        font-weight: 700;
      }
    }

    #name-input {
      border: none;
      text-align: center;
      font-size: 1.2rem;
      padding: 0.75rem;
      font-family: 'Titillium Web', sans-serif;
      text-transform: uppercase;
      width: 100%;
      letter-spacing: 0.1rem;
      background-color: rgba(183, 131, 58, 0.5);
      &:focus {
        outline: none;
      }
    }

    #start-quiz-button {
      width: 100%;
      padding: 0.75rem;
      font-family: 'Carter One', cursive;
      font-size: 1.4rem;
      background-color: rgb(183, 131, 58);
      color: #fff;
      border: none;
      &:hover {
        color: rgb(183, 131, 58);
        background-color: #fff;
        border: 1px solid rgb(183, 131, 58);
        cursor: pointer;
      }
    }
  }

  #welcome-page-cover {
    background-image: url(./assets/welcome-cover.jpg);
    width: 50%;
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // Questions Screen
  #question-element {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;

    .question-data {
      width: 50%;
      min-width: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding-inline: 3rem;
      text-align: center;
      overflow: hidden;
      overflow-y: auto;

      .question-header {
        font-size: 2rem;
        font-family: 'Carter One', cursive;
      }

      .answers-container {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;

        .answer-container {
          .answer-btn {
            width: 15rem;
            padding: 0.5rem 1rem;
            border: none;
            font-family: 'Titillium Web', sans-serif;
            font-size: 1.2rem;

            &:hover {
              cursor: pointer;
              border: 1px solid green;
            }
          }
        }
      }

      .timer-container {
        font-family: 'Carter One', cursive;
        font-size: 2rem;
      }

      .navigation {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        #next-question-button {
          width: 70%;
          padding: 0.5rem;
          font-family: 'Carter One', cursive;
          font-size: 1.2rem;
          background-color: rgb(183, 131, 58);
          color: #fff;
          border: none;
          &:hover {
            color: rgb(183, 131, 58);
            background-color: #fff;
            border: 1px solid rgb(183, 131, 58);
            cursor: pointer;
          }
        }
        #skip-button {
          width: 28%;
          padding: 0.5rem;
          font-family: 'Carter One', cursive;
          font-size: 1.2rem;
          background-color: rgb(183, 131, 58);
          color: #fff;
          border: none;
          &:hover {
            color: rgb(183, 131, 58);
            background-color: #fff;
            border: 1px solid rgb(183, 131, 58);
            cursor: pointer;
          }
        }
      }

      .user-score {
        text-transform: capitalize;
        font-size: 1.5rem;
        font-family: 'Titillium Web', sans-serif;

        span {
          font-size: 2rem;
          font-weight: 900;
        }
      }
    }
    .question-image {
      max-width: 50%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    .alert-container {
      #alert {
        text-transform: capitalize;
        color: rgba(225, 119, 13, 0.9);
        font-size: 1.1rem;
        animation: flash;
        animation-duration: 2s;
      }
    }
  }
}

@media (max-width: 815px) {
  #user-interface {
    width: 60rem;
    max-width: 85%;
    height: 40rem;
    max-height: 95%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    #welcome-page-element {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;
      text-align: center;
      overflow: hidden;
      overflow-y: auto;
    }

    #welcome-page-cover {
      height: 45%;
      width: 100%;
    }

    #question-element {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      position: relative;
      .question-data {
        width: unset;
        min-width: unset;
        padding-inline: unset;

        .answers-container {
          flex-direction: row;
          flex-wrap: wrap;
        }

        .navigation {
          width: 95%;
        }
      }

      .question-image {
        width: unset;
        max-width: unset;
        max-height: 45%;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 650px) {
  #user-interface {
    width: 60rem;
    max-width: 85%;
    height: 40rem;
    max-height: 95%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    #welcome-page-element {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      text-align: center;
      overflow: hidden;
      overflow-y: auto;

      #welcome-title {
        font-size: calc(100vw / 25 + 0.5rem);
      }
    }

    #welcome-page-cover {
      height: 45%;
      width: 100%;
    }

    #question-element {
      .question-data {
        .question-header {
          padding-block: 1rem;
        }
        .answers-container {
          .answer-container {
            .answer-btn {
              width: 10rem;
              font-size: 0.9rem;
            }
          }
        }

        .navigation {
          #next-question-button {
            width: 50%;
          }
          #skip-button {
            width: 30%;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  #user-interface {
    #question-element {
      .question-data {
        justify-content: flex-start;
        .question-header {
          padding-block: 1rem;
        }
        .answers-container {
            justify-content: center;
          .answer-container {
            .answer-btn {
              width: 8rem;
              font-size: 0.7rem;
            }
          }
        }

        .navigation {
          #next-question-button {
            width: 50%;
            font-size: 0.9rem;
          }
          #skip-button {
            width: 30%;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  #user-interface {
    width: 60rem;
    max-width: 98%;
    height: 40rem;
    max-height: 98%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    #welcome-page-element {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      text-align: center;
      overflow: hidden;
      overflow-y: auto;

      #welcome-title {
        font-size: calc(100vw / 25 + 0.5rem);
      }

      #name-input {
        width: unset;
      }

      #start-quiz-button {
        width: unset;
      }
    }

    #welcome-page-cover {
      height: 45%;
      width: 100%;
    }
  }
}
